body {
    margin: 0; 
    padding: 0;
    /* font-family: 'Poppins';
    height: 100vh;
    width: 100%; */
}



.navbar {
    height: 60px;
    width: 100%;
    background: #eee;
    display: block;
    justify-content: space-between;
    
}
.contLogo {
    height: 100%;
    display: flex; /*le flex pour bien aligner le logo */
    align-items: center;
    margin-left: 15px;
}
.logo {
    margin-left: 20px;
    width: 40px;
}

.contItems {
    font-size: 22px;
    height: 100%;
    border-top: 1px solid black;
    display: none;
    align-items: center;
    justify-content: center;
}
.items {
    margin-right: 30px;
    
    text-decoration: none;
    color: black;
    margin-right: 0;
    padding: 10px 20px;
    display: block;
    justify-items: center;
    align-items: center;
    background: #eee;
}
.items:hover {
    color: #5f5f5f;
}

.items:nth-child(1){
    padding-top: 20px;
}


/* -------Btn responsive-------------------- */
.btnResponsiveMenu { /* la boite div qui contient les lignes pour faire le bouton burger*/
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
}


.lignes {/*les lignes qui compose le menu burger*/
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #000;
    position: absolute;
    transition: all 0.5s ease-in-out;
}
.lignes:nth-child(1){
    top: 0px;
    

}
.lignes:nth-child(2){
    top: 10px;

}
.lignes:nth-child(3){
    top: 20px;

}
/* ici on faire la retaion des lignes qui composent le menu burger lorsqu'on clique dessus*/
.btnResponsiveMenu.active .lignes:nth-child(1){
    top:12px;
    transform: rotate(135deg);
}
.btnResponsiveMenu.active .lignes:nth-child(2){
    opacity: 0;
    transform: translate(-20px);
}
.btnResponsiveMenu.active .lignes:nth-child(3){
    top:12px;
    transform: rotate(-135deg);
}

/* Classe qui s'active avec le javascipt pour afficher le menu */
.activeMenu {
    display: block;
    
}

.containerGlobal {
    display: grid;
    
}


.firstSection {
    z-index: -1;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
   
}
.containerImgTitle{
    width: 100%;
    
    box-sizing: border-box;
   
    
  
}
.containerImg {
   width: 100%;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    
    
}

   

.containerImgTitle img {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0 0 25px 25px;
}
.test {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(175, 175, 175, 0.5);
    position: absolute;
    top: 0;
    border-radius: 0 0 25px 25px;
    cursor: pointer;
}


.title {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: #949494;
    color: #eee;
    padding: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    opacity:0.8;
    z-index: 100;
   

}
.formerCard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background-color: rgb(245, 198, 14);
    border-radius: 25px;
    margin-top: 10px;
}
.formerCard img {
    width: 150px;
    padding: 0 20px;
}
.formerName {
    font-size: 25px;
}
.secondSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  .parameter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 133, 133);
    width: 100%;
    border-radius: 25px;
    padding: 20px 0;
    box-sizing: border-box;
  }
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    
    background-color: #949494;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
  
  }
  .search label {
    font-size: 30px;
    color: #eee;
    font-family: sans-serif;
    font-weight: 600;
    padding-bottom:20px ;
  }
  .search input {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
  }
  .filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .filter p {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 2px;
    
  }
  #box:checked ~ #femme{
    display: none;
  }
  .femme, .homme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:60px;
  }
  .femme p, .homme p {
    margin: 20px 0 0 0;
    padding: 0;
  }
  
  /* .switch {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 40px;
	cursor: pointer;
	overflow: hidden;
    margin: 20px 30px;
}

.switch input {
	position: absolute;
	top: -30px;
	left: -30px;
	width: 0;
	height: 0;
}
.switch input + span {
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #99b4df;
   border-radius: 20px;
}
.switch input:checked + span {
	background: #346abf;
}
.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 4px;
	width: 32px;
	height: 32px;
	background: white;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .5s;
}

.switch input:checked + span:before {
	left: 34px;
} */

.cardsWilders {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.card-wilder {
    width: 100%;
    margin: 20px 30px;
}
.containerImgWalder img {
    width: 200px;
}


@media screen and (min-width: 769px) {
    
    .btnResponsiveMenu {
        display: none;
    }
    
    .navbar {
        display: flex;
    }
    
    
    .items {
        background: #eee;
        /* pour la marge plus haut */
        margin-right: 30;

        
        
    }
    .items:nth-child(1){
        padding-top: 10px ;
    }
    .contItems {
        display: flex;
        border-top: none;
        
    }
    .containerGlobal {
         display: grid;
         grid-template-columns: 3fr 1fr;
         grid-template-rows: 1fr 600px 1fr;
        
         gap: 10px;
    }


    .navbar {
        
        background-color: #8b8b8b;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .firstSection {
       width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: grid;
        gap: 10px;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        margin: 10px 10px;
        /* grid-column-start: 1;
        grid-column-end: 3;*/
        margin-top: 20px; 
        box-sizing: border-box;
    }
    .containerImgTitle {
       
        width:100%;
        grid-column-start: 1;
        grid-column-end: 2;
        /* display: flex; */
        /* flex-direction: column; */
        position: relative;
        border-radius: 25px 25px 25px 25px;
    }
    .formerCard {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
        background-color: rgb(186, 107, 10);
    }
    .formerCard img {
        width: 200px;
        padding: 50px 20px;
    }
    .formerName {
        font-size: 3rem;
    }
.title {
    
   width: 100%;
   margin-top: 30%;
    box-sizing: border-box;
    background-color: #8b8b8b;
    color: #eee;
    padding: 20px;
    position: absolute;
    
    

}
.containerImgTitle img {
    border-radius: 25px 25px 25px 25px;
}

    .test {
        border-radius: 25px 25px 25px 25px;
    }
    

}   
